* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E0E0E;
    scroll-behavior: smooth !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}